/* add little banner animation to note that a item was submited, like when you save a video on youtube. */

:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgba(240, 238, 238, 0.822);
  margin-top: 2.5rem;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 1rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

/* .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
} */

label {
  display: block;
  margin-bottom: 0.2rem;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 1%;
}

.form {
  height: 38px;
  padding: 6px 10px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  line-height: normal;
  width: 100%;
}

.button {
  height: 38px;
  padding: 0.5rem;
  border: 1px solid #bbb;
  border-radius: 4px;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  align-self: end;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  margin-left: 2%;
  margin-right: 2%;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}
