:root {
  --text-color: black;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  background: url('../../img/kim-daniels-P2qImp_Mr2Y-unsplash.jpg') no-repeat
    center center/cover;
  height: 100vh;
  overflow-x: hidden;
  color: var(--dark-color);
}

.image {
  /* background-image: url('../../img/mae-mu-BxsGyQwjwaw-unsplash_Fotor.jpg'); */
  grid-column: 1;

  position: relative;
  align-self: center;
  justify-self: center;
}

.title {
  text-align: center;
}

.landing-inner {
  text-align: center;
  margin: 30% 3rem;
  align-self: center;
}

.organize-buttons {
  display: grid;
}

.button-big {
  color: white;
  background-color: var(--dark-color);
  width: 75%;
  padding: 0.8rem;
  border: 1px solid #bbb;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  justify-self: center;
}

.dark-overlay {
  grid-column: 2;
  margin-top: 4rem;
  margin-bottom: 4rem;
  justify-items: center;
  border-left: 1px var(--dark-color) solid;
}

.unsplash-badge {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.unsplash-link {
  background-color: #235c02;
  color: white;
  text-decoration: none;
  padding: 4px 6px;
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco',
    'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial,
    sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;
  display: inline-block;
  border-radius: 3px;
}

.unsplash-span-link {
  display: inline-block;
  padding: 2px 3px;
}

.unsplash-svg-style {
  height: 12px;
  width: auto;
  position: relative;
  vertical-align: middle;
  top: -2px;
  fill: white;
}

.unsplash-author {
  display: inline-block;
  padding: 2px 3px;
}
