.toolbar {
  display: grid;
  width: 100%;
  /* height: 3rem; */
  background-color: #009879;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); */
  z-index: 100;
}

.toolbar__navigation {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.toolbar__logo a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  font-weight: bolder;
}

.toolbar__navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.toolbar__navigation-items a {
  text-decoration: none;
  color: black;
}

.toolbar__navigation-items a:hover,
.toolbar__navigation-items a:active {
  color: #4ca76a;
}
